In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
# Aula parecida com o checkpoint

In [4]:
pip install numpy

Requirement already satisfied: numpy in c:\python311\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import numpy as np

In [6]:
array = np.array([1,2,3,4,5,6,7,8,9,10])
array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [7]:
lista = [1,2,3,4,5,6,7,8,9,10]
tupla = (1,2,3,4,5,6,7,8,9,10)

df_series = pd.Series(tupla)

In [8]:
# 1 Crie numpy array com numeros de 1 a 10

array_sequencia =np.array([1,2,3,4,5,6,7,8,9,10])

array_sequencia

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [9]:
# 2 Some dois numpy com numeros de 1 a 5 e outro de 6 a 10

array1 =np.array([1,2,3,4,5])
array2 =np.array([6,7,8,9,10])

soma = array1 + array2
print("A soma é:", soma)

A soma é: [ 7  9 11 13 15]

In [10]:
# Filtragem

array_maior_5 = array_sequencia[array_sequencia>5]
array_maior_5

array([ 6,  7,  8,  9, 10])

In [11]:
# Média

array =np.array([1,2,3,4,5])


print("Média:", array.mean())
print("Desvio padrao:", array.std())

Média: 3.0
Desvio padrao: 1.4142135623730951

In [12]:
# Concatenação

array1 =np.array([1,2,3,4,5])
array2 =np.array([6,7,8,9,10])

arr_concat = np.concatenate([array1,array2])
arr_concat

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [14]:
# Exercicio de subtração

array10 = np.arange(1,11)
array10_1 = np.arange(10,0,-1)
resultado = array10 - array10_1
print("Resultado:", resultado)

Resultado: [-9 -7 -5 -3 -1  1  3  5  7  9]

In [15]:
#  Exercicio de orednação

arr1 = np.arange(1,11)
arr_ordenado = np.sort(arr1)[::-1] # o numero 1 é padrão 
arr_ordenado

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [16]:
arr = np.array([0,4,2,6,5,9,6])
print("Valores Duplicados:", np.unique(arr).size != arr.size)

Valores Duplicados: True

In [17]:
print("Slicing do terceiro ao setimo elemento")
print(arr[2:7])

Slicing do terceiro ao setimo elemento
[2 6 5 9 6]

In [18]:
# slicing antes do quinto elemento

print(arr[:5])

[0 4 2 6 5]

In [19]:
notas = {'João':85, 'Maria':90, 'Pedro':88}
print(notas)
print(notas['Maria'])
print(notas['João'])

{'João': 85, 'Maria': 90, 'Pedro': 88}
90
85

In [20]:
notas_alunos = {
    'joão':{'matematica':90, "portugues":85, 'ciencias':88},
    'maria':{'matematica':95, "portugues":92, 'ciencias':89},
    'pedro':{'matematica':80, "portugues":75, 'ciencias':82}
}
notas_alunos

{'joão': {'matematica': 90, 'portugues': 85, 'ciencias': 88},
 'maria': {'matematica': 95, 'portugues': 92, 'ciencias': 89},
 'pedro': {'matematica': 80, 'portugues': 75, 'ciencias': 82}}

In [21]:
nota_maria_matematica = notas_alunos['maria']['matematica']
nota_maria_matematica

95

In [22]:
notas_alunos['ana'] = {'matematica':88, 'portugues':91,'ciencias':85}
notas_alunos

{'joão': {'matematica': 90, 'portugues': 85, 'ciencias': 88},
 'maria': {'matematica': 95, 'portugues': 92, 'ciencias': 89},
 'pedro': {'matematica': 80, 'portugues': 75, 'ciencias': 82},
 'ana': {'matematica': 88, 'portugues': 91, 'ciencias': 85}}

In [23]:
df = pd.DataFrame(notas_alunos)
df

            joão  maria  pedro  ana
matematica    90     95     80   88
portugues     85     92     75   91
ciencias      88     89     82   85

In [24]:
nota_maria_matematica

95

In [25]:
import pandas as pd

df = pd.DataFrame(notas_alunos)
df

            joão  maria  pedro  ana
matematica    90     95     80   88
portugues     85     92     75   91
ciencias      88     89     82   85

In [26]:
df

            joão  maria  pedro  ana
matematica    90     95     80   88
portugues     85     92     75   91
ciencias      88     89     82   85

In [27]:
df = pd.DataFrame(notas_alunos)
df['joão']

matematica    90
portugues     85
ciencias      88
Name: joão, dtype: int64

In [28]:
dados_dois_alunos = df.loc[:,['joão', 'maria']]
dados_dois_alunos

            joão  maria
matematica    90     95
portugues     85     92
ciencias      88     89

In [29]:
datas = ['01-01-2024', '01-02-2024', '01-03-2024']
datas_formatadas = pd.to_datetime(datas,format='%d-%m-%Y')
datas_formatadas

DatetimeIndex(['2024-01-01', '2024-02-01', '2024-03-01'], dtype='datetime64[ns]', freq=None)

In [30]:
df['data'] = datas_formatadas
df

            joão  maria  pedro  ana       data
matematica    90     95     80   88 2024-01-01
portugues     85     92     75   91 2024-02-01
ciencias      88     89     82   85 2024-03-01

In [31]:
df.to_csv('exemplo11.csv')

In [ ]:
arr = np.array([0,4,2,6,5,9,6])

valores_duplicados = np.unique(arr,return_counts = True)
indices_duplicados = np.where(valores_duplicados[1] > 1)[0]
valores_duplicados[0][indices]

In [ ]:
# Produto,Mês,Vendas
# Celular,01-01-2023,150
# Celular, 01-02-2023,180
# Celular, 01-03-2023,200
# Tablet, 01-01-2023,100
# Tablet, 01-02-2023,120
# Tablet, 01-03-2023,130
# Notebook, 01-01-2023,80
# Notebook, 01-02-2023,90
# Notebook, 01-03-2023,100

In [47]:
dados_desafio = {
    'Produto':['celular','celular','celular','Tablet','Tablet','Tablet','Notebook','Notebook','Notebook'],
    'Mes':['01-01-2023','01-02-2023','01-03-2023','01-01-2023',' 01-02-2023',' 01-03-2023','01-01-2023',' 01-02-2023',' 01-03-2023'],
    'Vendas':[150,180,200,100,120,130,80,90,100]
}
dados_desafio
df = pd.DataFrame(dados_desafio)
df.columns

Index(['Produto', 'Mes', 'Vendas'], dtype='object')

In [48]:
df['Produto']

0     celular
1     celular
2     celular
3      Tablet
4      Tablet
5      Tablet
6    Notebook
7    Notebook
8    Notebook
Name: Produto, dtype: object

In [ ]:
df['Mes'] = pd.to_datetime(df['Mes'], format='%d-%m-%Y')
df['Ano'] = df['Mes'].dt.year
df['Mes'] = df['Mes'].dt.month
vendas_series = pd.Series(df['Vendas'].values,index=df['Mes'])

In [46]:
vendas_series = pd.Series(df['Vendas'].values,index=df['Mes'])

In [52]:
produto_mais_vendido = df.groupby('Produto')['Vendas'].sum()
produto_mais_vendido

Produto
Notebook    270
Tablet      350
celular     530
Name: Vendas, dtype: int64