In [ ]:
pip install pandas

In [ ]:
import pandas as pd

In [ ]:
# Aula parecida com o checkpoint

In [ ]:
pip install numpy

In [ ]:
import numpy as np

In [ ]:
array = np.array([1,2,3,4,5,6,7,8,9,10])
array

In [ ]:
lista = [1,2,3,4,5,6,7,8,9,10]
tupla = (1,2,3,4,5,6,7,8,9,10)

df_series = pd.Series(tupla)

In [ ]:
# 1 Crie numpy array com numeros de 1 a 10

array_sequencia =np.array([1,2,3,4,5,6,7,8,9,10])

array_sequencia

In [ ]:
# 2 Some dois numpy com numeros de 1 a 5 e outro de 6 a 10

array1 =np.array([1,2,3,4,5])
array2 =np.array([6,7,8,9,10])

soma = array1 + array2
print("A soma é:", soma)

In [ ]:
# Filtragem

array_maior_5 = array_sequencia[array_sequencia>5]
array_maior_5

In [ ]:
# Média

array =np.array([1,2,3,4,5])


print("Média:", array.mean())
print("Desvio padrao:", array.std())

In [ ]:
# Concatenação

array1 =np.array([1,2,3,4,5])
array2 =np.array([6,7,8,9,10])

arr_concat = np.concatenate([array1,array2])
arr_concat

In [ ]:
# Exercicio de subtração

array10 = np.arange(1,11)
array10_1 = np.arange(10,0,-1)
resultado = array10 - array10_1
print("Resultado:", resultado)

In [ ]:
#  Exercicio de orednação

arr1 = np.arange(1,11)
arr_ordenado = np.sort(arr1)[::-1] # o numero 1 é padrão 
arr_ordenado

In [ ]:
arr = np.array([0,4,2,6,5,9,6])
print("Valores Duplicados:", np.unique(arr).size != arr.size)

In [ ]:
print("Slicing do terceiro ao setimo elemento")
print(arr[2:7])

In [ ]:
# slicing antes do quinto elemento

print(arr[:5])

In [ ]:
notas = {'João':85, 'Maria':90, 'Pedro':88}
print(notas)
print(notas['Maria'])
print(notas['João'])

In [ ]:
notas_alunos = {
    'joão':{'matematica':90, "portugues":85, 'ciencias':88},
    'maria':{'matematica':95, "portugues":92, 'ciencias':89},
    'pedro':{'matematica':80, "portugues":75, 'ciencias':82}
}
notas_alunos

In [ ]:
nota_maria_matematica = notas_alunos['maria']['matematica']
nota_maria_matematica

In [ ]:
notas_alunos['ana'] = {'matematica':88, 'portugues':91,'ciencias':85}
notas_alunos

In [ ]:
df = pd.DataFrame(notas_alunos)
df

In [ ]:
nota_maria_matematica

In [ ]:
import pandas as pd

df = pd.DataFrame(notas_alunos)
df

In [ ]:
df

In [ ]:
df = pd.DataFrame(notas_alunos)
df['joão']

In [ ]:
dados_dois_alunos = df.loc[:,['joão', 'maria']]
dados_dois_alunos

In [ ]:
datas = ['01-01-2024', '01-02-2024', '01-03-2024']
datas_formatadas = pd.to_datetime(datas,format='%d-%m-%Y')
datas_formatadas

In [ ]:
df['data'] = datas_formatadas
df

In [ ]:
df.to_csv('exemplo11.csv')

In [ ]:
arr = np.array([0,4,2,6,5,9,6])

valores_duplicados = np.unique(arr,return_counts = True)
indices_duplicados = np.where(valores_duplicados[1] > 1)[0]
valores_duplicados[0][indices]

In [ ]:
# Produto,Mês,Vendas
# Celular,01-01-2023,150
# Celular, 01-02-2023,180
# Celular, 01-03-2023,200
# Tablet, 01-01-2023,100
# Tablet, 01-02-2023,120
# Tablet, 01-03-2023,130
# Notebook, 01-01-2023,80
# Notebook, 01-02-2023,90
# Notebook, 01-03-2023,100

In [ ]:
dados_desafio = {
    'Produto':['celular','celular','celular','Tablet','Tablet','Tablet','Notebook','Notebook','Notebook'],
    'Mes':['01-01-2023','01-02-2023','01-03-2023','01-01-2023','01-02-2023','01-03-2023','01-01-2023','01-02-2023','01-03-2023'],
    'Vendas':[150,180,200,100,120,130,80,90,100]
}
dados_desafio
df = pd.DataFrame(dados_desafio)
df.columns

In [ ]:
df['Produto']

In [ ]:
df['Mes'] = pd.to_datetime(df['Mes'], format='%d-%m-%Y')
df['Ano'] = df['Mes'].dt.year
df['Mes'] = df['Mes'].dt.month
vendas_series = pd.Series(df['Vendas'].values,index=df['Mes'])

In [ ]:
vendas_series = pd.Series(df['Vendas'].values,index=df['Mes'])

In [ ]:
produto_mais_vendido = df.groupby('Produto')['Vendas'].sum()
produto_mais_vendido

In [ ]:
media_vendas = vendas_series.mean()
mediana_vendas = vendas_series.median()
min_vendas = vendas_series.min()
max_vendas = vendas_series.max()

In [ ]:
pip install matplotlib

In [ ]:
import matplotlib.pyplot as plt

df_grouped = df.groupby(['Mes', 'Produto'])['Vendas'].sum().unstack()

plt.figure(figsize=(10, 6))
df_grouped.plot(kind='bar', stacked=False)
                
plt.title("Vendas por Produto ao longo do Tempo")
plt.xlabel("Mês")
plt.ylabel("Vendas")
plt.xticks(rotation=45)
plt.legend(title='Produto')
plt.grid(axis='y')
plt.tight_layout()
plt.show()

In [ ]:
df['Variação Percentual'] = df.groupby('Produto')['Vendas'].pct_change()
df

In [ ]:
mes_maior_variacao = df.loc[df['Variação Percentual'].idxmax()]['Mes']
mes_menor_variacao = df.loc[df['Variação Percentual'].idxmin()]['Mes']
mes_maior_variacao

In [ ]:
# data	Produto	Quantidade
# 1/1/2024	Ar Frio	100
# 1/2/2024	Ar Frio	120
# 1/3/2024	Ar Frio	130
# 1/4/2024	Ar Frio	110
# 1/5/2024	Ar Frio	150
# 1/1/2024	Ventilador	150
# 1/2/2024	Ventilador	140
# 1/3/2024	Ventilador	160
# 1/4/2024	Ventilador	130
# 1/5/2024	Ventilador	170
# 1/1/2024	Ar Quente	80
# 1/2/2024	Ar Quente	90
# 1/3/2024	Ar Quente	100
# 1/4/2024	Ar Quente	85
# 1/5/2024	Ar Quente	95

In [4]:
import pandas as pd

tabela = {
    'Produto':['Ar Frio','Ar Frio','Ar Frio','Ar Frio','Ar Frio','Ventilador','Ventilador','Ventilador','Ventilador','Ventilador','Ar Quente','Ar Quente','Ar Quente','Ar Quente','Ar Quente'],
    'Quantidade':[100,120,130,110,150,150,140,160,130,170,80,90,100,85,95],
    'Data':['1-1-2024','1-2-2024','1-3-2024','1-4-2024','1-5-2024','1-1-2024','1-2-2024','1-3-2024','1-4-2024','1-5-2024','1-1-2024','1-2-2024','1-3-2024','1-4-2024','1-5-2024']
}

In [ ]:
df = pd.DataFrame(tabela)
df

In [8]:
df.to_csv('Batata.csv')

In [10]:
dados = pd.read_csv('C:\Users\logonrmlocal\Desktop\python\Batata.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1785072221.py, line 1)